.main-card {
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.container {
  margin: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

button {
  background-color: #e74c3c; /* rojo */
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
